header{
    background: #FCF7EE;
}

h1{
    font-size: 2.9rem;
}

p{
    font-size: 16px;
}

.detalles h4{
    font-size: 16px;
    font-weight: bold;
}

.no-btn{
    background: none;
    border: none;
    padding: 0;
}

.slab-progress{
    height: 0.75px;
    position: absolute;
}

.card .actividad svg {
    width: 1.25em;
}
/*SLABS*/
main .container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.timeline ul{
    list-style: none;
    padding-left: 0;
}

.timeline ul li {
    padding: 20px;
    background-color: #f6f6f6;
    border-radius: 1rem;
    margin-bottom: 1rem;
}


/*.current-slab{
    padding: 20px;
    background-color: #1442d6 !important;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.current-slab .timeline-content, .current-slab .timeline-content .row{
    color:#fff !important;
}*/

.timeline ul li:last-child{
    margin-bottom: 0;
}

.timeline-content h5 {
    font-size: 25px;
    font-weight: 500;
}

.timeline-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}


/*Actividades*/
.actividad svg{
    width: 20px;
}
.actividad, .time {
    font-size: 12px;
}

.time{
    margin-top: 0.5rem;
    font-weight: lighter;
}

.chevron{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -100px;
}

.cross{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -100px;
}


.heading-img{
    position: relative;
}

.heading-img .bg-img{
    position: absolute;
    z-index: 0;
    right: -90px;
    bottom: -30px;
    width:267px !important;
    
}

.heading-img  .video-block{
    z-index: 1;
    position: relative;
    aspect-ratio: 16/9;
}


.timeline-content .next-btn i{
    color:#fff;
    font-size: 1.25em;
    font-weight: bold;
}

.timeline-content img {
    width: 100%;
    aspect-ratio: 4 / 3;
}

.timeline-content .btn{
    position: absolute;
    right:0rem;
    border-radius: 50%;
    width:35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline-content .next-form{
    position: absolute;
    right:1.5rem;
}

.timeline-content .progress{
    height: 0.75rem;
}

@media only screen and (max-width:768px){
    .timeline ul li {
        position: relative;
        margin-bottom: 3rem;
    }

    .timeline ul li h5{
        text-align: center;
        margin-top: 1rem;
    }

    .timeline ul li .actividades{
        flex-direction: row;   
        display: flex; 
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .timeline ul li .actividad{
        background: #ccc;
        padding:0.5rem;
        border-radius: 10px;
        margin-top: 0.75rem;

    }

    .available {
        background: #0000AF!important;
    }


    .available .body{
        color:#fff;
    }

    .available svg path{
        stroke: #fff !important;
    } 


    /*.timeline ul li form .actividad:first-child{
        margin-right: 0.75rem;
    }*/

    .mr-75{
        margin-right: 0.75rem;
    }

    .intro{
        overflow: hidden;
    }

    .intro .bg-img{
        width: 160px !important;
        right: -40px;
        bottom: -35px;
    }

    .progress{
        margin-top: 1rem;
    }
    
    .timeline ul li .next-btn{
        display: none;
    }

    .timeline-content .slab-text-col{
        order:2;
    }

    .timeline ul li .paso{
        position: absolute;
        top:-25px;
        left: 10px;
        font-weight: 600;
    }

    .timeline ul li .time{
        position: absolute;
        top:-25px;
        right: 10px;
        margin-top: 0;
    }
}

/*Normal screen size*/
@media only screen and (min-width:768px){
    .timeline::before{
        content:'';
        position: absolute;
        height: 100%;
        width: 2px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #000;
    }
    .timeline ul li{
        width: 50%;
        margin-bottom: 2rem;
    }

    .available .body{
        color:#0000AF;
    }

    .available svg path{
        stroke: #0000AF !important;
    } 

    .timeline ul li:nth-child(odd){
        float:left;
        clear: right;
        transform: translateX(-3rem);
    }
    .timeline ul li:nth-child(even){
        float:right;
        clear: left;
        transform: translateX(3rem);
    }

    /*Indicador*/
    .paso{
        font-weight: 600;
    }

    .timeline ul li .paso{
        position: absolute;
        background-color:#fff;
        top:50%;
    }

    .timeline ul li:nth-child(odd)::after{
        transform: translate(50%, -50%);
        right:-2rem;
    }

    .timeline ul li:nth-child(odd) .paso{
        transform: translate(50%, -50%);
        right:-3rem;
    }
    

    .timeline ul li:nth-child(even)::after{
        transform: translate(-50%, -50%);
        left:-2rem;
    }

    .timeline ul li:nth-child(even) .paso{
        transform: translate(-50%, -50%);
        left:-3rem;
    }
}
